@tailwind base;
@tailwind components;
@tailwind utilities;

.map-desktop {
    width: 78rem;
    height: 400px;
}

@media screen and (max-width: 768px){
    .map-mobile {
        width: 25rem;
        height: 20rem;
    } 
}